<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">SWIFT Inc, Rue Henry-Grandjean 2400, Le Locle</span>
        <br />
        Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
      </td>
    </tr>
  </table>
</div>
